<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="programmingclub.daiict" >

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"

        >

        <activity
            android:name=".classes.blog_classes.CommentView"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="programmingclub.daiict.COMMENTVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".classes.About_Developers.AboutDevelopers"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="programmingclub.daiict.ABOUTDEVELOPER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".classes.event_classes.EventListView"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="programmingclub.daiict.EVENTLISTVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".classes.blog_classes.BlogListView"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="programmingclub.daiict.BLOGLISTVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".classes.category_classes.CategoryListView"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="programmingclub.daiict.CATEGORYLISTVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".classes.announcement_classes.AnnouncementListView"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="programmingclub.daiict.ANNOUNCEMENTLISTVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".classes.announcement_classes.AnnouncementView"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="programmingclub.daiict.ANNOUNCEMENTVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".classes.blog_classes.BlogView"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="programmingclub.daiict.BLOGVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".classes.blog_classes.BlogCategoryListView"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="programmingclub.daiict.BLOGCATEGORYLISTVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".classes.tech_news_classes.MainActivity_RSS"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="programmingclub.daiict.MAINACTIVITY_RSS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="programmingclub.daiict.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".classes.logo_screen_at_start_class.Splash"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".classes.tech_news_classes.FragmentActivity"
            >
        </activity>

        <activity android:name=".classes.tech_news_classes.WebViewActivity">

        </activity>

        <service android:name=".classes.tech_news_classes.PCWorldRssService" />
        <service android:name=".classes.tech_news_classes.TechnologyAppRssService"/>
        <service android:name=".classes.tech_news_classes.AndroidRssService"/>
        <service android:name=".classes.tech_news_classes.StartUpRssService"/>
        <service android:name=".classes.tech_news_classes.GamingRssService"/>
        <service android:name=".classes.tech_news_classes.OpenSourceRssService"/>
        <service android:name=".classes.tech_news_classes.InternetRssService"/>
        <service android:name=".classes.tech_news_classes.SoftwareRssService"/>

        <service android:name=".classes.event_classes.MyAlarmService"
            android:enabled="true" />

        <receiver android:name=".classes.event_classes.MyReceiver"/>

        <service android:name=".classes.service_classes.ScheduleService" />
        <service android:name=".classes.service_classes.NotifyService" />
<!--
        <service android:name="programmingclub.daiict.service.ScheduleService" />
        <service android:name="programmingclub.daiict.service.NotifyService" />
  -->
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>



</manifest>
